@import "var.css";

main .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0;
}

.cart-container {
    width: 1190px;
    display: flex;
}

.cart-title {
    margin: 20px 0 30px;
}

.cart-no-products {
    display: none;
}

.cart-table {
    display: none;
    flex-direction: column;
    /* width: 1000px; */
    margin: 0 10px 45px 0;
    flex: 4;
}

.cart-table table {
    /* width: 1000px; */
    border-collapse: collapse;
}


.cart-table table th, .cart-table table td {
    text-align: center;
    border-block: 1px solid var(--black);
    padding: 8px 0;
}

.cart-table img {
    width: 100px;
    vertical-align: middle;
}

.table-header > :first-child {
    text-align: left;
}

.cart-table tr:not(.table-header) > :first-child {
    text-align: left;
}

.cart-table tr:not(.table-header) > :first-child > :first-child {
    margin-right: 10px;
}

.cart-table td a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
    transition: .3s;
}

.cart-table td a:hover {
    color: var(--fg-color);
}

.cart-table #quantity {
    padding: 8px;
    margin: 1px 0;
    width: 100px;
}

.old-price {
    display: none;
    text-decoration: line-through;
}

.old-price, .book-price {
    padding: 0 3px;
}

.fa-trash {
    transition: .3s;
}

.fa-trash:hover {
    cursor: pointer;
    color: var(--fg-color);
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--black); */
    padding-top: 10px;
}

.back-to-webshop, .cart-delete-all, .cart-refresh {
    padding: 10px 8px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .3s;
    font-weight: bold;
    background: var(--bg-color);
}

.back-to-webshop {
    border: 1px solid var(--grey);
}

.cart-delete-all {
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    margin-right: 5px;
}

.cart-refresh {
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-left: 5px;
}

.back-to-webshop i {
    padding: 0 5px;
}

.back-to-webshop:hover {
    border: 1px solid var(--black);
    cursor: pointer;
    background: var(--light-grey);
}

.cart-delete-all:hover {
    cursor: pointer;
    background: var(--fg-color);
    color: var(--white);
}

.cart-refresh:hover {
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    align-self: flex-start;
    margin: 5px 0 45px 10px;
    padding: 15px;
    flex: 1;
    border-radius: 10px;
}

.checkout-header {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.checkout-data {
    margin: 5px 0;
}

.checkout-data th {
    vertical-align: top;
    text-align: left;
    padding-bottom: 4px;
}

.checkout-data td {
    padding-left: 3px;
}

.checkout-data input {
    margin-right: 2px;
}

.checkout-button {
    width: 100%;
    margin: 5px 0;
}

.button-checkout {
    width: 100%;
    padding: 10px 9px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .3s;
    font-weight: bold;
    background: var(--bg-color);
    border: 1px solid var(--fg-color);
    color: var(--fg-color-dark);
}

.button-checkout i {
    padding: 0 5px;
}

.button-checkout:hover {
    cursor: pointer;
    background: var(--fg-color);
    color: var(--white);
}

.container > h1 {
    margin: 15px 0;
    width: 1190px;
}

.checkout-container {
    display: flex;
    justify-content: stretch;
}

.checkout-container > * {
    flex: 1;
}

.checkout-delivery {
    margin-top: 3px;
}

.checkout-delivery input {
    margin-right: 3px;
}

.cart-checkout-total {
    margin-top: 3px;
}

.delivery-form {
    display: flex;
    flex-direction: column;
}

.delivery-form > div {
    display: flex;
    margin: 10px 0;
}

.delivery-form > div > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.delivery-form > div > div:nth-child(1) {
    margin-right: 10px;
}

.delivery-form > div > div:nth-child(3) {
    margin-left: 10px;
}

.delivery-form > div:nth-child(3) > div {
    margin: 0;
}

.delivery-form input, .delivery-form select {
    padding: 6px;
    font-size: 1.1rem;
    outline: none;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid var(--grey);
}

.delivery-form input:focus {
    border: 1px solid var(--fg-color-dark);
}

.checkout-delivery h2, .checkout-billing h2 {
    margin: 4px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--black);
}

.checkout-cart-info h2 {
    margin: 4px 0;
    padding: 5px 0;
}

.checkout-cart-info, .checkout-billing {
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.checkout-info {
    margin-left: 20px;
    
}

.checkout-cart-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

.checkout-cart-table table th, .checkout-cart-table table td {
    text-align: center;
    border-block: 1px solid var(--black);
    padding: 8px 3px;
}

.checkout-cart-table tr:not(.table-header) > :first-child {
    text-align: left;
}

.checkout-cart-table table a {
    text-decoration: none;
    color: var(--fg-color);
    font-weight: bold;
    transition: .3s;
}

.checkout-cart-table table a:hover {
    color: var(--fg-color-dark);
}

.checkout-cart-price {
    text-align: right;
}

.billing-methods {
    width: 560px;
}

.billing-methods > div {
    border: 1px solid var(--black);
    border-radius: 10px;
    /* padding: 10px; */
    margin: 10px 0;
    width: 100%;
    transition: .5s;
}

.billing-header {
    padding: 10px;
    background: var(--light-grey);
    border-radius: 10px;
}

.billing-body {
    display: none;
    padding: 15px 10px;
    border-top: 1px solid var(--black);
}

.button-order {
    width: 100%;
    padding: 8px 0;
    margin: 10px 0;
    border-radius: 10px;
    color: var(--white);
    border: 1px solid var(--fg-color);
    background: var(--fg-color);
    transition: .3s;
    text-transform: uppercase;
}

.button-order:hover {
    cursor: pointer;
    background: var(--fg-color-dark);
}

.button-order i {
    margin: 0 4px;
}

.order-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--black);
    background: var(--fg-color-dark);
    color: var(--white);
    z-index: 101;
}

.order-popup > div {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.order-popup button {
    padding: 8px 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.order-popup button:hover {
    cursor: pointer;
}

.order-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 100; /* Ensure overlay is on top of other content */
}

.delivery-form span {
    color: var(--red);
}

/* Styling for card payment */
.pg-payment-form { 
    padding-top: 0; 
    padding-right: 0; 
    padding-bottom: 0; 
    padding-left: 0; 
    margin: 0 0 2rem; 
    width: 600px;
}
    
.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap; 
    border: 0; font-size: 
    2rem;
}

#sform .row { 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px; 
    width: 100%;
}

#sform .col-sm-6 { 
    -ms-flex: 0 0 50%; 
    -webkit-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
    position: relative; 
    padding-right: 15px; 
    padding-left: 15px;
}

.pg-form-group { 
    margin-bottom: 1rem; 
}

.pg-form-group-animated, .pg-form-group-static { 
    position: relative; 
    padding-top: 1rem; 
    padding-right: 0; 
    padding-bottom: 0; 
    padding-left: 0;
}

.pg-form-group-static .pg-label { 
    position: absolute; 
    top: 0; 
    color: #b0b0b0; 
    transition: all .35s; 
    margin: 0; 
    display: block; 
    overflow: hidden; 
    width: 100%; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-size: .6875rem; 
    text-transform: uppercase; 
    height: 1.625em; 
    line-height: 1.625em; 
    padding: 0;
}

#sform .col-sm-6 { 
    -ms-flex: 0 0 50%; 
    -webkit-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 45%;
}

#sform .col-6 { 
    -ms-flex: 0 0 50%; 
    -webkit-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 45%; 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
}

.pg-form-group  .form-control { 
    display: block; 
    height: calc(1.5em + 0.75rem + 2px); 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #495057; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: 0.25rem; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pg-form-group  .pg-form-control { 
    height: 1.625em; 
    line-height: 1.625em; 
    width: 100%; 
    outline: none !important; 
    font-size: 1rem; 
    color: #000; 
    background-color: #fff; 
    border-style: solid; 
    border-width: 1px; 
    border-top-color: #fff; 
    border-right-color: #fff; 
    border-bottom-color: #b0b0b0; 
    border-left-color: #fff; 
    border-radius: 0; 
    padding: 0;
}

.validation-tooltip { 
    position: absolute; 
    top: -0.5rem; 
    font-size: .8125rem; 
    margin-top: 0.1875rem; 
    line-height: 1.3; 
    color: #fff; 
    padding-top: 0.15rem; 
    padding-right: 0.5rem; 
    padding-bottom: 0.15rem; 
    padding-left: 0.5rem; 
    background-color: #dc3545; 
    border-radius: 0; 
    border: none; 
    max-width: 100%; 
    display: none;
}

.validation-tooltip em { 
    display: block; 
    text-overflow: ellipsis; 
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap; 
    font-style: normal;
}

.availableCreditCards { 
    font-size: 0; 
    margin: 0 0 0 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
}

.availableCreditCards { 
    max-height: 42px; 
    overflow: hidden;
}

.availableCreditCards .cards-wrapper { 
    position: relative; 
    margin-top: 14px;
}

.availableCreditCards img { 
    display: inline-block; 
    margin: 0 3px 6px 0; 
    height: 18px; 
    transition: all .3s;
}

/* End of style for card payment */

@media screen and (max-width: 1200px) {
    .container {
        width: 985px;
    }
    .cart-container {
        width: 985px;
    }
    .container > h1 {
        width: 985px;
    }
    .cart-table #quantity {
        width: 80px;
    }
    .billing-methods {
        width: auto;
    }
    .pg-payment-form { 
        width: 400px;
    }
}