@import "var.css";

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1200px; */
}

.product-details {
    display: flex;
    width: 1190px;
    margin: 25px 0;
}

.product-details .image {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.product-details .image .price-reduction {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    padding: 8px 4px;
    background: var(--fg-color);
    color: var(--white);
    font-size: 1.1rem;
    font-family: 'Montserrat', serif;
}

.product-details .image img {
    width: 330px;
}

.image-container {
    position: relative;
}

.product-details .product-info {
    padding: 10px;
    flex: 1;
}

.product-info .product-author {
    margin-bottom: 8px;
    font-size: 18px;
    height: 24.67px;
}

.product-info .product-name {
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.product-info .product-price {
    display: flex;
    margin: 20px 0 30px;
    font-size: 25px;
}

/*.product-price .old-price:has([style="display:none"]) + .book-price {
    margin-left: 6px;
}*/

.product-info .product-price .old-price {
    display: none;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-block: 1px solid var(--black);
}

.product-cart .quantity {
    display: flex;
    flex-direction: column;
}

.product-cart .product-quantity {
    padding: 8px;
    margin: 1px 0;
    width: 100px;
}

.product-cart .cart-button {
    padding: 15px;
    background: var(--fg-color);
    border-radius: 40px;
    color: var(--white);
    transition: .3s;
}

.product-cart .cart-button:hover {
    cursor: pointer;
    background: var(--fg-color-dark);
}

.product-cart .cart-button-unavailable {
    padding: 10px;
    background: var(--fg-color);
    border-radius: 40px;
    color: var(--white);
    display: none;
}

.product-attributes {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 30px;
    margin-top: 30px;
}

.product-attributes > * {
    display: flex;
    justify-content: left;
    align-items: center;
}

.product-attributes > * > * {
    margin: 0 5px;
}

.product-attributes .icon {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-attributes .details {
    display: flex;
    flex-direction: column;
}

.product-about {
    margin: 40px 0;
    width: 1190px;
}

.product-about .buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--black);
}

.product-about .buttons > * {
    padding: 12px 15px;
    cursor: pointer;
    color: var(--fg-color);
}

.buttons .active {
    border: 1px solid var(--black);
    border-bottom: 1px solid var(--bg-color);
    color: var(--black);
    margin-bottom: -0.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.product-about .product-description {
    margin: 20px 0;
    font-family: 'Crimson Pro', serif;
    font-size: 1.3rem;
}

.product-description, .product-reviews {
    display: none;
} 

.visible {
    display: flex;
}

.reviews-container {
    margin: 10px 0;
    width: 100%;
}

.reviews-list {
    margin: 15px 0;
}

#show-more-reviews {
    padding: 6px;
    background: var(--fg-color);
    color: var(--white);
    border: 1px solid var(--fg-color);
    border-radius: 10px;
    transition: .3s;
}

#show-more-reviews:hover {
    cursor: pointer;
    background: var(--fg-color-dark);
}

.fa-star {
    color: #aaa;
}

.fa-star:hover {
    cursor: pointer;
}

.fa-star.black-star {
    color: #1e3050;
}

.review-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.review-item > * {
    margin: 1px 0;
}

.review-about {
    display: flex;
}

.review-about p {
    margin: 0 10px;
}

.reviews-send {
    padding: 10px 20px;
    background: #dde;
    width: 95%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.reviews-send > * {
    margin: 5px 0;
}

.reviews-form {
    display: flex;
    flex-direction: column;
}

.reviews-form > * {
    margin: 7px 0;
}

.reviews-form > div:first-child {
    display: flex;
}

.reviews-form > div:first-child > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.reviews-form div:first-child input {
    padding: 5px 10px;
    font-size: 1.1rem;
}

.reviews-form label {
    margin: 4px 0;
}

.reviews-form div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

#review-text {
    padding: 10px;
}

#submit-review {
    padding: 10px;
    border-radius: 10px;
    background: var(--fg-color);
    color: var(--white);
    border: 1px solid var(--fg-color);
    font-size: 1.1rem;
    transition: .3s;
}

#submit-review:hover {
    cursor: pointer;
    background: var(--fg-color-dark);
}

.globalMessage.red {
    color: var(--red);
}

.globalMessage.green {
    color: var(--green);
}

.stars {
    margin: 4px 0;
}

.similar-products {
    width: 100%;
}

.similar-products h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--black);
}

.similar-products-container {
    display: flex;
    justify-content: center;
}

.added-to-cart-message {
    display: none;
    justify-content: space-between;
    width: 1190px;
    padding: 30px 10px;
    background: var(--white);
    border-bottom: 2px solid var(--fg-color-dark);
    transition: 1s;
}

.cart-message {
    display: flex;
    align-items: center;
}

.see-cart {
    padding: 10px;
    background: var(--fg-color);
    border-radius: 40px;
    transition: .3s;
}

.see-cart:hover {
    background: var(--fg-color-dark);
}

.see-cart a {
    color: var(--white);
    text-decoration: none;
}

.px1000 {
    display: none;
}

@media screen and (max-width: 1200px) {
    .product-details {
        width: 985px;
    }
    .product-about {
        width: 985px;
    }
    .added-to-cart-message {
        width: 985px;
    }
    .px1200 {
        display: none;
    }
    .px1000 {
        display: flex;
    }
}